In [24]:
import csv
import pandas as pd

In [20]:
dat=pd.read_table("/Users/siyuwang/Desktop/train.tsv",sep='\t')
dat1=pd.read_table("/Users/siyuwang/Desktop/test.tsv",sep='\t')
dat=pd.DataFrame(dat)
dat1=pd.DataFrame(dat1)

In [25]:
#dat.head(4)

In [13]:
## category_name
category_name= dat['category_name'].str.split('/')
category_name_set=[]
for i in category_name.dropna():
    category_name_set.extend(i)
plt1=pd.Series(category_name_set).value_counts().sort_values(ascending=False).to_frame()
plt1.head(10)

                       0
Women             683360
Beauty            207828
Kids              171796
Athletic Apparel  134422
Shoes             132620
Electronics       126318
Makeup            124624
Other             115592
Tops & Blouses    107967
Men                95967